<manifest xmlns:android="http://schemas.android.com/apk/res/android" >

    <application>
        <activity android:name="com.example.kiptoomagutt.testas.EnvironmentActivity"
            android:label="@string/title_activity_environment"
            >
        </activity>
    </application>

</manifest>
